<div class= "btn-switch" >
    <%= link_to "Mes demandes", mes_demandes_path, class: "link_to", id: "requests"%>
    <%= link_to "Mes évènements", mes_evenements_path, class: "link_to", id: "events"%>
</div>

<div class="bgm-container">


    <div class="block-margin"><h2>Reçues</h2></div>
    <!-- inscriptions reçues -->
    <div class="block-margin infos">
      <% if @requests.empty? %>
        <p>Aucune demande en attente</p>
      <% else %>
      <h4>En attente</h4>
        <% @requests.each do |request| %>
          <div class="inscription-card">
            <div class="title-card">
              <h4><%= request.event.title %></h4>
            </div>
            <div class= "content-card">

      <%= link_to user_path(request.user.username), class: "link_to" do %>
        <div class="event-creator">
          <div>
            <p><%= request.user.username %></p>
          </div>
          <div>
            <%= cl_image_tag(request.user.photo.key, class: "avatar") %>
          </div>
        </div>
      <% end %>




              <p><%= request.comment %></p>
              <div class="btn-inscription">
                <h4><%= link_to "Accepter", inscription_path(request, status: "Validée"), data: { controller: "inscriptions", turbo_confirm: "Voulez-vous vraiment accepter", turbo_method: :patch}, id: "accept" %></h4>
                <h4><%= link_to "Refuser", inscription_path(request, status: "Rejetée"), data: { controller: "inscriptions", turbo_confirm: "Voulez-vous vraiment refuser", turbo_method: :patch}, id: "reject" %></h4>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <% if @processed_requests.present? %>
      <div class="block-margin">
        <ul>
          <% @processed_requests.each do |request| %>
            <li><%= request.comment %>  =>  <%= request.status %></li>
          <% end %>
        </ul>
      </div>
    <% end %>





    <h2>Envoyées</h2>
    <!-- inscriptions envoyées -->
    <div class="infos block-margin">
      <% if @inscriptions.empty? %>
        <p>Aucune demande en attente</p>
      <% else %>

        <ul>
          <% @inscriptions.each do |inscription| %>
            <li><%= inscription.comment %>  =>  <%= inscription.status %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <% if @processed_inscriptions.present? %>
      <div style="background: whitesmoke">
        <ul>
          <% @processed_inscriptions.each do |inscription| %>
            <li><%= inscription.comment %>  =>  <%= inscription.status %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

</div>
