<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div class="bgm-container">

  <%= cl_image_tag(@user.photo.key,
        width: "100%", height: "auto") %>

  <%# <%= simple_form_for(@user) do |f| %> %>
  <!-- [...] -->
  <%# <%= f.input :photo, as: :file %> %>
  <!-- [...] -->
  <%# <% end %> %>

  <%= link_to "Mes demandes", mes_demandes_path %>
  <%= link_to "Mes Evenements", mes_evenements_path %>

  <p><%= @user.username %></p>
</div>
