
<div class="bgm-container">
  <div class="user-id-card">
    <div class="full-id">
        <div class="full-name">
          <h5><%= @user.first_name %></h5>
          <h5><%= @user.last_name %></h5>
        </div>
        <p><%= @user.username %></p>
      </div>
      <%= cl_image_tag(@user.photo.key, class: "avatar-large") %><i class="fa-solid fa-pen-to-square edit edit-img <%= @display %>"></i>
  </div>
  <div class="informations block-margin">
    <div class="infos-color block-margin">
      <ul>
        <li>Membre depuis 2024 </li>
        <li> 3 évènements créés</li>
        <li>Participation à 5 évènements</li>
      </ul>
    </div>

    <div class="infos block-margin">

      <h4>24 ans</h4>

      <h4>Lille</h4>

    </div>
  </div>
  <div class="block-margin">
  <h4>description bio</h4>
  </div>
    <h2>Jeux préférés</h2>
      <div class="bg-cards block-margin">
      <% @user.my_events.first.boardgames.each do |boardgame| %>
        <%= link_to boardgame_path(boardgame.name) ,class: "link_to" do %>
          <%= render partial: "boardgames/card", locals: { close: false, boardgame: boardgame} %>
        <% end %>
      <% end %>
  </div>
  <%if @user == current_user%>
    <h2>Mes évèvements</h2>
  <% else %>
    <h2>Evènements de <%= @user.first_name %></h2>
    <% @user.my_events.each do |event| %>
      <%= render "events/card", event: event %>
    <% end %>
  <% end %>


    <%# <%= simple_form_for(@user) do |f| %>
    <!-- [...] -->
    <%# <%= f.input :photo, as: :file %>
    <!-- [...] -->
    <%# <% end %>
    <%if current_user == @user%>
      <div class= "btn-group block-margin" >
        <%= link_to "Mes demandes", mes_demandes_path, class: "btn-classic" %>
        <%= link_to "Mes évènements", mes_evenements_path, class: "btn-classic" %>
      </div>
  <%end%>
</div>
