<%= simple_form_for event do |f| %>
  <%= f.input :title,
              label: "Titre" %>
  <%= f.input :description,
              as: :text %>
  <%= f.input :capacity,
              label: "Nombre de places",
              as: :integer,
              input_html: { min: 1, type: "number" } %>
  <%= f.input :date,
              as: :string,
              input_html: { data: { controller: "datepicker", datepicker_type_value: "event" } } %>
  <%= f.input :time,
              as: :string,
              input_html: { data: { controller: "timepicker" } } %>
  <%= render "map_form", f: f %>

  <div data-controller="autocomplete">

    <%= f.hidden_field :boardgame_ids, value: "", data: { autocomplete_target: "boardgamesIds"} %> <!-- hidden field to store the boardgame ids -->

    <input type="text" data-autocomplete-target="input" data-action="keyup->autocomplete#search">
    <ul data-autocomplete-target="results">


    </ul>

    <div data-autocomplete-target="selectedBoardgames">
      <%# <%= console %>
    </div>
  </div>

  <%= f.button :submit %>
<% end %>
