<div class="banner">
  <div class="bgm-container">
    <div>
      <h1><%= @event.title %></h1>
      <p><%= @event.description %></p>
    </div>
    <div>
      <% if current_user != @event.creator %>

        <% if user_signed_in? %>

          <%= link_to "Rejoindre", "#", data: { action: "click->toggle#display" }, class: "btn-banner" %>

        <% else %>
          <%= link_to "Rejoindre", new_user_session_path, class: "btn-banner" %>
        <% end %>

      <% end %>

    </div>
  </div>
</div>
<div class="bgm-container">
  <%= link_to user_path(@event.creator.username), class: "link_to" do %>
    <div class="event-creator">
      <div>
        <p>Proposé par</p>
        <p><%= @event.creator.username %></p>
      </div>
      <div>
        <%= image_tag "bgm_logo_v1", class: "avatar" %>
      </div>
    </div>
  <% end %>
  <h2>Les jeux proposés</h2>

  <div class="cards">

    <% @event.boardgames.each do |boardgame| %>
      <%= link_to boardgame_path(boardgame.name) ,class: "link_to" do %>
        <div class="card_boardgame">
          <h4><%= boardgame.name %></h4>
        </div>
      <% end %>
    <% end %>

  </div>






  <h2>Informations</h2>

  <ul>
    <li><p>Date : <%= @event.date %></p></li>
    <li><p>Lieu : <%= @event.city %></p></li>
    <li><p>Places : <%= @event.capacity %></p></li>
  </ul>



  <h2>Participants</h2>


  <% if @event.participants %>
    <ul>
      <% @event.participants.each do |participant| %>
        <li><p><%= participant.username %></p></li>
      <% end %>
    </ul>
  <% else %>
    <h'>Aucun participant pour le moment</h4>
  <% end %>



</div>
