  <div class="bgm-container">
<div class="banner-color">
    <div>
      <h1><%= @event.title %></h1>
      <p><%= @event.description %></p>
    </div>
    <div>
      <% if current_user != @event.creator && @event.participants.include?(current_user) == false %>
        <% if user_signed_in? %>
            <div data-controller="toggle">
              <%= link_to "Rejoindre", "#", data: { action: "click->toggle#display" }, class: "btn-banner-color" %>

              <div data-toggle-target="modal" class="modal hidden">
                <div class="modal-content">
                  <span data-action="click->toggle#close" class="close-button">&times;</span>
                  <h2>S'inscrire à l'événement</h2>

                  <%= form_with model: @inscription, url: event_inscriptions_path(@event), local: true do |f| %>
                    <div class="form-inputs">
                      <%= f.text_area :comment, placeholder: "Écrivez un commentaire..." %>
                      <%= f.hidden_field :user_id, value: current_user.id %>
                    </div>

                    <div class="form-actions">
                      <%= f.submit "S'inscrire", class: "btn-submit", data: {controller: :inscriptopns, turbo_method: :post } %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
        <% else %>
          <%= link_to "Rejoindre", new_user_session_path, class: "btn-banner-color" %>
        <% end %>

      <% end %>

    </div>
  </div>
</div>
  <div class="bgm-container">
    <%= link_to user_path(@event.creator.username), class: "link_to" do %>
      <div class="event-creator block-margin">
        <%= cl_image_tag(@event.creator.photo.key, class: "avatar") %>
        <p>Proposé par</p>
        <p><%= @event.creator.username %></p>
      </div>
    <% end %>
    <h2>Les jeux proposés</h2>
    <div class="bg-cards block-margin">
    <% @event.boardgames.each do |boardgame| %>
      <%= link_to boardgame_path(boardgame.name) ,class: "link_to" do %>
        <%= render partial: "boardgames/card", locals: { close: false, boardgame: boardgame} %>
      <% end %>
    <% end %>

  </div>



  <h2>Informations</h2>

  <div class="infos block-margin">
    <p>Date : <%= @event.date %></p>
    <p>Lieu : <%= @event.city %></p>
    <p>Places : <%= @event.capacity %></p>
  </div>

  <h2>Participants</h2>

  <% if @event.participants.present? %>
    <div class="participant-cards block-margin">
        <% @event.participants.each do |participant| %>
          <%= cl_image_tag(participant.photo.key, class: "avatar") %>
        <% end %>
  <% else %>
        <p>Aucun participant pour le moment</p>
  <% end %>
    </div>
  <%= link_to image_tag("btn_chat.png", class:"btn-action"), chat_path %>

</div>
