<div class="jeu-banner" style="background-image:url(<%= image_path(@boardgame.image_url) %>)">

  <div class="caracts">
    <div class ="caract"><i class="fa-solid fa-user-group"></i><span> <%= @boardgame.min_players %> - <%= @boardgame.max_players %></span></div>
    <div class ="caract"><i class="fa-regular fa-clock"></i><span> <%= @boardgame.playing_time %> min</span></div>
  </div>
</div>
<div class="bgm-container">
  <div>
    <h2><%= @boardgame.name %></h2>

    <p><%= @boardgame.description %></p>
    <div class="card-category", id=<%= @boardgame.category.gsub(' ', '-') %>>
          <h3><%= @boardgame.category %></h3>
        </div>
  </div>

  <div class="infos">
    <h4>Age minimum recommandé : <%= @boardgame.age %> ans</h4>
    <h4>Date de sortie : <%= @boardgame.release_year %></h4>
    <h4>Editeur : <%= @boardgame.publisher %></h4>
  </div>
  <div style="display: flex; justify-content: center;">
    <%= link_to "Ajouter à mes jeux préférés", signed_in? ? user_path(current_user.name) : new_user_session_path, class: "btn-classic"%>
  </div>
</div>
